{% extends 'base.html' %} {% block content %}
<h2 class="title">✧ you can create your own chat or join an already created one ✧</h2>
<h2 class="title">↓ just enter the chat details ↓</h2>
<form method="post" class="buttons">
  <div>
    <label>✧✧✧✧✧✧✧✧✧--name--:</label>
    <input
      type="text"
      placeholder="pick a name"
      name="name"
      value="{{name}}"
    />
  </div>
    <br />
  <div class="join">
    <label>--chat code--:</label>
    <input type="text" placeholder="chat code" name="code" value="{{code}}" />
  </div>
    <br />
  <h2>----what do you want to do?----></h2>
  <br />
  <button type="submit" name="join">join a chat</button>
  <button type="submit" name="create" class="create-btn">create a chat</button>
  <button type="submit" name="join_general_chat" class="create-btn">join a general chat</button>
    <p>✧✧✧✧✧✧✧✧✧</p>
  {% if error %}
  <ul>
    <li>{{error}}</li>
  </ul>
  {% endif %}
</form>
<h2 class="subtitle">
    <u>tips:</u>
    <br />
    <br />
    → you can leave the "name" field empty, and we will use your cool username - {{ username }}
    <br />
    <br />
    → chat code example: AAAA (4 capital letters)
    <br />
    <br />
    → for your own chat leave the "room code" field empty, and we will generate a random code
</h2>
{% endblock %}